<?php
$this->title = "Latest Btc/EUR Rates";
$this->headTitle($this->title);
?>
<div class="row">

    <canvas id="myChart" width="800" height="400" class="col-lg-8"></canvas>
    <div class="col-lg-12">
        <?php echo $this->form; ?>
    </div>
    <div class="col-lg-12">
        <a href="/index/check-level-and-subscribe" target="_blank">Click here to insert latest BTC/EUR ratio.</a>(This URL should be run from the CRON, this is just for DB inserting for testing purpose)
    </div>

</div>
<?php if(count($this->ratesForChart)): ?>
    <script type="text/javascript">
        var data = {
            labels: <?php echo json_encode($this->ratesForChart['time'])?>,
            datasets: [
                {
                    label: "btc eur",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: <?php echo json_encode($this->ratesForChart['rates'])?>
                }
            ]
        };
        var ctx = document.getElementById("myChart").getContext('2d');
        var myLineChart = new Chart(ctx).Line(data);
    </script>
<?php endif?>
