<head>
</head>
<body>
<table style="width: 650px; padding-top: 30px; font-family: Arial, Helvetica; font-size: 16px;">
    <tbody>
        <tr>
            <td style=" width: 390px; padding: 0 0 20px 10px; border-bottom: 1px solid aquamarine; ">
                <p>
                    Dear user,
                    <br>Bitcoing/EUR ratio reached desired level.
                </p>
            </td>
        </tr>
    </tbody>
</table>
</body>
